* {
    padding: 0px;
    margin: 0px;
}

body {
    overflow-x: hidden;
}

.landingPage {
    height: 100vh;
    width: 100%;
    background-image: url("bg.jpg");
    background-position: center;
    display: grid;
    justify-items: center;
    grid-template-rows: 20% 25% 30% 1fr;
    gap: 20px;
    min-width: 360px;
    padding-top: 10%;
    
}

.logo {
    height: 100px;
    width: 100px;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
}

.nameAndTitle {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    font-size: 2rem;
    justify-items: center;
    max-width: 100%;
}

.flexWrap {
    flex-wrap: wrap;
}

.justifyCenter {
    justify-content: center;
}

.white {
    color: white;
}

.yellow {
    color: #FFE9B1;
}

.summary {
    margin: 0px 20px 0px 20px;
    font-size: 15px;
    max-width: 100%;
}

.pillButton {
    display: flex;
    border: 4px solid white;
    border-radius: 90px;
    height: 50px;
    width: 150px;
    align-items: center;
    justify-content: center;
}

.landingButtons {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 3px solid red;
}

.bio {
    border: 3px solid pink;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 15px;
}

.scrollDown {
    border: 3px solid white;
    height: 60px;
    width: 60px;
}

.m-20 {
    margin-top: 20px;
}

@media screen and (min-width: 600px) {
    .landingPage {
        grid-template-columns: .3fr 1fr;
    }

    .summary {
        width: 400px;
        font-size: 25px;
    }

    .nameAndTitle {
        font-size: 4rem;
    }

    .landingButtons {
        grid-column-start: 2;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }

    .landingPage {
        grid-template-rows: 1fr .5fr 1fr;
    }
    
    .scrollDown {
        grid-column-start: 2;
    }

    .pillButton {
        width: 200px;
        font-size: 25px;
    }

    @media screen and (min-width: 1000px) {
        .logo {
            width: 100%;
            border: 4px solid green;
        }

        .landingPage {
            grid-template-columns: 1fr 1fr;
        }
    }
}