* {
    padding: 0px;
    margin: 0px;
}

.green {
    color: #137E71;
}

.black {
    color: #353333;
}

.pillButton {
    display: flex;
    justify-content: center;
    color: white;
    width: 121px;
    height: 43px;
    border: 4px solid white;
    border-radius: 90px;
}

.pillButton:hover {
    background-color: red;
    border-color: red;
}

.pillLabel {
    align-self: center;
}

.pageHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
}

.pageTitle {
    font-family: 'Roboto';
    font-size: 40px;
    font-weight:bold;
    margin-left: 10px;
}

.landingPage {
    display: grid;
    grid-template-rows: 1fr .2fr .3fr;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    padding-top: 30px;
    row-gap: 15px;
}

.logoAndBio {
    display: grid;
    justify-self: center;
    grid-template-rows: 1fr 1fr;
}

.logo {
    justify-self: center;
    width: 200px;
    height: 200px;
}

.bio {
    display: grid;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    grid-template-rows: 1fr 1fr;
}

.nameAndTitle {
    justify-self: center;
    font-family: 'Roboto';
    font-size: 30px;
}

.name {
    width: 100%;
    color: white;
    font-weight: bold;
}

.title {
    color: #FFE9B1;
    font-weight: bold;
}

.summary {
    color: white;
    justify-self: center;
    width: 80%;
    font-weight: 100;
    font-size: 20px
}

.landingButtons {
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.scrollDown {
    width: 60px;
    height: 60px;
    justify-self: center;
    margin-top: auto;   
}

.workExperience {
    display: grid;
    grid-template-rows: 4;
    row-gap: 5%;
    background-color: #FAFAFA;
    padding: 80px 10px 80px 10px;
}

.smallFA {
    font-size: 40px !important;
    border-radius: 90px;
    padding: 10px;
}

.smallIco {
    width: 40px;
    height: 40px;
}

.smallFaIcon {
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 60px;
    height: 60px;
    border: 3px solid black;
    border-radius: 90px;
    align-items: center;
}

.experiences {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.experience {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    overflow-y: hidden;
    height: 300px;
    width: 300px;
    font-family: 'Roboto';
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border-radius: 10px;
    margin: 20px 0px 20px 0px;
    padding: 20px;
}

.companyName {
    font-size: 25px;
    font-weight: bold;
}

.companyTitle {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.titleAndDuration {
    display: flex;
    flex-wrap: wrap;
}

.duration {
    font-size: 20px;
}

.jobSummary {
    margin-top: 10px;
}

.pageHeader .smallFaIcon {
    margin-right: 10px;    
}

.pageHeader .pageTitle {
    align-self: center;
}

.skill {
    display: grid;
    align-items: center;
    width: 100%;
    height: 100px;
}

.skills {
    display: grid;
    background-color: #98D1CA;
    padding: 80px;
    grid-auto-rows: auto;
    row-gap: 20px;
}

.skills .content {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 20px;
}

.skillBar {
    height: 15px;
    width: 100%;
    background-color: #FFFAFA;
}

.skillPoints_25 {
    height: 100%;
    width: 25%;
    background-color: #E37777;
}

.skillPoints_50 {
    height: 100%;
    width: 50%;
    background-color: #E37777;
}

.skillPoints_75 {
    height: 100%;
    width: 75%;
    background-color: #E37777;
}

.skillPoints_100 {
    height: 100%;
    width: 100%;
    background-color: #E37777;
}

.skillLabel {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.skinIcon {
    width: 40px;
    height: 40px;
}

@media only screen and (min-width: 720px) {
    .summary {
        width: 45%;
    }

    .summary {
        font-size: 30px;
        width: 80%
    }

    .name {
        font-size: 70px;
    }

    .title {
        font-size: 50px;
    }

    .pillButton {
        width: 300px;
        height: 100px;
        cursor: pointer;
    }

    .pillLabel {
        font-size: 35px;
        font-weight: bold;
    }

    .skill {
        width: 45%;
        justify-self: center;
    }

    .skills .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 920px) {
    .landingPage {
        grid-template-rows: .3fr .2fr .3fr;
    }

    .logoAndBio {
        justify-content: center;
        grid-template-columns: .4fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 30px;
    }

    .logo {
        justify-self: right;
    }

    .nameAndTitle {
        justify-self: left;
    }

    .summary {
        justify-self: left;
        width: 600px;
    }

    .pillButton {
        width: 300px;
        height: 100px;
        cursor: pointer;
    }

    .pillLabel {
        font-size: 35px;
        font-weight: bold;
    }
}


@media only screen and (min-height: 900px) {
    .scrollDown {
        margin-top: 10%;   
    }

    .logoAndBio {
        margin-top: 10%;
    }
}